.container {
	max-width: auto;
	height: 500px;
	display: inline-block;
	background-color: silver;
	border-radius: 5px;
} 

h1 {
	font-size: 40px;
	color: red;
	text-align: center;

}

h2 {
	font-size: 30px;
	text-align: center;
}

p {
	margin:10px;
	text-align: justify;
}